In [80]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/HN__4_8__19__selected.csv')

/var/folders/3y/hj83hdwn2nn49jp7jks64t480000gn/T/ipykernel_27186/1327064187.py:3: DtypeWarning: Columns (205) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/HN__4_8__19__selected.csv')

In [81]:
# y라벨 결측치
# mh_PHQ_S    9074
# DF2_pr      1629
# BP_PHQ_1    1629
# BP_PHQ_2    1629
# BP_PHQ_3    1629
# BP_PHQ_4    1629
# BP_PHQ_5    1629
# BP_PHQ_6    1629
# BP_PHQ_7    1629
# BP_PHQ_8    1629
# BP_PHQ_9    1629
# dtype: int64

#TODO 결측 채워도 되는지 나중에 확인할것
# 총점: 0~27점

cond = df["BP_PHQ_1"].notna() & \
        df["BP_PHQ_2"].notna() & \
        df["BP_PHQ_3"].notna() & \
        df["BP_PHQ_4"].notna() & \
        df["BP_PHQ_5"].notna() & \
        df["BP_PHQ_6"].notna() & \
        df["BP_PHQ_7"].notna() & \
        df["BP_PHQ_8"].notna() & \
        df["BP_PHQ_9"].notna()

df[df["mh_PHQ_S"].isnull() & cond][["BP_PHQ_1", "BP_PHQ_2", "BP_PHQ_3", "BP_PHQ_4", "BP_PHQ_5", "BP_PHQ_6", "BP_PHQ_7", "BP_PHQ_8", "BP_PHQ_9"]].value_counts()

BP_PHQ_1  BP_PHQ_2  BP_PHQ_3  BP_PHQ_4  BP_PHQ_5  BP_PHQ_6  BP_PHQ_7  BP_PHQ_8  BP_PHQ_9
9.0       9.0       9.0       9.0       9.0       9.0       9.0       9.0       9.0         1567
0.0       0.0       0.0       9.0       0.0       0.0       0.0       0.0       0.0            9
          9.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0            5
          0.0       0.0       0.0       0.0       9.0       0.0       0.0       0.0            4
1.0       9.0       9.0       9.0       9.0       9.0       9.0       9.0       9.0            3
                                                                                            ...
0.0       1.0       2.0       1.0       0.0       1.0       9.0       9.0       1.0            1
                    1.0       9.0       0.0       0.0       0.0       0.0       1.0            1
                              2.0       9.0       2.0       0.0       0.0       0.0            1
                    0.0       0.0       0.0       0.0       9.0       9.0       1.0            1
          9.0       9.0       9.0       0.0       0.0       0.0       0.0       0.0            1
Name: count, Length: 146, dtype: int64

In [82]:
a = df[df["mh_PHQ_S"].isnull() & cond][["BP_PHQ_1", "BP_PHQ_2", "BP_PHQ_3", "BP_PHQ_4", "BP_PHQ_5", "BP_PHQ_6", "BP_PHQ_7", "BP_PHQ_8", "BP_PHQ_9"]]

b = a[a <= 3].sum(axis=1)
b[b >= 1] #125

df['mh_PHQ_S'] = b[b >=1]

In [83]:
# row 기준 
threshold = 0.3 # threshold for null proportion
null_percent = df.isnull().mean(axis = 1) # 각 행에 대한 결측값 비율 계산
df = df[null_percent < threshold]
df

,cfam,house,live_t,ainc,sex,age,marri_1,marri_2,tins,npins,...,mh_PHQ_S,BP_GAD_1,BP_GAD_2,BP_GAD_3,BP_GAD_4,BP_GAD_5,BP_GAD_6,BP_GAD_7,mh_GAD_S,DF2_pr
0,2.0,1.0,2.0,460.833333,1.0,61.0,2.0,88.0,20.0,1.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,1.0,2.0,460.833333,1.0,57.0,1.0,4.0,20.0,1.0,...,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,8.0
2,2.0,1.0,2.0,257.500000,2.0,39.0,1.0,4.0,20.0,1.0,...,NaN,1.0,0.0,2.0,1.0,0.0,1.0,0.0,5.0,8.0
3,2.0,1.0,2.0,257.500000,2.0,19.0,2.0,88.0,20.0,2.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
4,2.0,1.0,2.0,133.750000,1.0,70.0,1.0,1.0,20.0,1.0,...,NaN,1.0,1.0,2.0,0.0,0.0,0.0,0.0,4.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94110,1.0,1.0,1.0,NaN,2.0,74.0,1.0,3.0,99.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
94113,3.0,2.0,1.0,58.333333,1.0,75.0,1.0,1.0,20.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
94114,3.0,2.0,1.0,58.333333,2.0,74.0,1.0,1.0,20.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
94117,4.0,2.0,1.0,200.000000,2.0,34.0,1.0,1.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
94118,4.0,2.0,1.0,150.000000,2.0,65.0,1.0,1.0,10.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0

In [84]:
# Define depression (dependent variable)
cond1 = df['mh_PHQ_S'] >= 10 # total score 
cond2 = df['BP_PHQ_9'].isin([1, 2, 3]) # person who chose 1, 2, 3 in 9th question

df[cond1 | cond2].drop_duplicates() # person with cond1 or cond2

,cfam,house,live_t,ainc,sex,age,marri_1,marri_2,tins,npins,...,mh_PHQ_S,BP_GAD_1,BP_GAD_2,BP_GAD_3,BP_GAD_4,BP_GAD_5,BP_GAD_6,BP_GAD_7,mh_GAD_S,DF2_pr
6015,3.0,3.0,2.0,820.000000,2.0,52.0,1.0,1.0,20.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
6042,5.0,2.0,2.0,698.333333,2.0,53.0,1.0,1.0,20.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6055,4.0,1.0,1.0,250.000000,1.0,27.0,2.0,88.0,20.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
6082,4.0,1.0,1.0,170.000000,1.0,43.0,1.0,1.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
6144,4.0,2.0,2.0,530.000000,1.0,27.0,2.0,88.0,20.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49897,2.0,2.0,3.0,225.000000,2.0,37.0,1.0,4.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
49924,1.0,2.0,1.0,46.666667,2.0,80.0,1.0,3.0,10.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
49948,4.0,3.0,2.0,380.000000,1.0,46.0,1.0,1.0,20.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
49958,3.0,2.0,2.0,583.333333,1.0,55.0,1.0,1.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
49987,2.0,3.0,2.0,800.000000,2.0,26.0,2.0,88.0,20.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0

In [85]:
# Create a new variable 'depressed' 
df.loc[cond1 | cond2, 'depressed'] = 1 # 두 조건 중 하나 이상을 만족하는 행에 'depressed' 변수에 1 값 
df.loc[~(cond1 | cond2), 'depressed'] = 0 # 두 조건 중 하나라도 만족하지 않는 행에 0 값

In [86]:
# Check distribution of depressed to see if the data is imbalanced
df.groupby('depressed').count() # groupby를 이용해 타겟 y 라벨의 클래스 별 개수를 확인

,cfam,house,live_t,ainc,sex,age,marri_1,marri_2,tins,npins,...,mh_PHQ_S,BP_GAD_1,BP_GAD_2,BP_GAD_3,BP_GAD_4,BP_GAD_5,BP_GAD_6,BP_GAD_7,mh_GAD_S,DF2_pr
depressed,,,,,,,,,,,,,,,,,,,,,
0.0,85324,85323,85323,84505,85329,85329,85323,85323,85323,85323,...,82,5679,5679,5679,5679,5679,5679,5679,5611,85329
1.0,1412,1412,1412,1409,1412,1412,1412,1412,1412,1412,...,43,0,0,0,0,0,0,0,0,1412

In [87]:
df[df['DF2_pr'].isna() & df['mh_PHQ_S'].isna()] # 0개

Empty DataFrame
Columns: [cfam, house, live_t, ainc, sex, age, marri_1, marri_2, tins, npins, D_1_1, D_2_1, D_2_wk, DI1_dg, DI1_ag, DI1_pr, DI1_pt, DI1_2, DI2_dg, DI2_ag, DI2_pr, DI2_pt, DI2_2, DI3_dg, DI3_ag, DI3_pr, DI3_pt, DI3_2, DJ4_dg, DJ4_ag, DJ4_pr, DJ4_pt, DJ4_3, DE1_dg, DE1_ag, DE1_pr, DE1_pt, DE1_3, BH9_11, BH1, BH2_61, LQ4_00, LQ4_01, LQ4_02, LQ4_03, LQ4_04, LQ4_05, LQ4_06, LQ4_07, LQ4_08, LQ4_09, LQ4_10, LQ4_11, LQ4_12, LQ4_13, LQ4_14, LQ4_15, LQ4_16, LQ4_21, LQ4_22, LQ4_23, LQ4_24, LQ4_25, LQ4_26, LQ4_27, LQ4_28, LQ4_29, LQ1_sb, LQ1_mn, LQ2_ab, LQ2_mn, MH1_yr, MH1_1, MO1_wk, MO1_1, educ, graduat, EC1_1, EC_occp, EC_stt_1, EC_lgw_2, EC_lgw_4, EC_wht_23, EC_wht_5, EC_pedu_1, EC_pedu_2, BO1, BO1_1, BO1_2, BO1_3, BO2_1, BD1, BD2, BD1_11, BD2_1, BD2_31, BD2_32, BA2_12, BA2_14, BA2_2_1, ...]
Index: []

[0 rows x 228 columns]

In [88]:
# Remove people who might be depressed
# DF2_pr == 8 (never been diagnosed by doctor) & mh_PHQ_S == NaN) 인 경우를 제외하려면?
# DF2_pr != 8 or mh_PHQ != NaN (전부 다 ~ 취하기)
df = df[(df['DF2_pr'] != 8 |  ~df['mh_PHQ_S'].isna())]
df.shape

(84117, 228)

In [89]:
# Remove columns if percentage of NaN exceeds 0.1
threshold = 0.3 # 이거로 하나, 0.1로 하나 큰 차이 x
threshold = 0.1 

null_percent = df.isnull().mean() # 각 열에 대한 결측값 비율 계산
selected_cols = null_percent[null_percent < threshold].index
df = df[selected_cols]
df.shape # (20492, 314)

(84117, 159)

In [90]:
df.isnull().sum().sort_values(ascending = False) # 결측치 개수 확인

BH9_11       5249
HE_Uket      4676
HE_Uph       4675
HE_Unitr     4675
HE_Uro       4675
             ...
LQ4_22          0
LQ4_23          0
LQ1_sb          0
LQ1_mn          0
depressed       0
Length: 159, dtype: int64

In [97]:
df2 = df.dropna()
"depressed" in df2.columns # True

True

In [98]:
df2[df2['depressed'] == 1]

,cfam,house,live_t,ainc,sex,age,marri_1,marri_2,tins,npins,...,HE_Unitr,HE_Usg,HE_Upro,HE_Uglu,HE_Uket,HE_Ubil,HE_Ubld,HE_Uro,DF2_pr,depressed
6015,3.0,3.0,2.0,820.000000,2.0,52.0,1.0,1.0,20.0,1.0,...,0.0,1.015,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
6055,4.0,1.0,1.0,250.000000,1.0,27.0,2.0,88.0,20.0,1.0,...,0.0,1.028,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
6082,4.0,1.0,1.0,170.000000,1.0,43.0,1.0,1.0,10.0,1.0,...,0.0,1.023,2.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
6144,4.0,2.0,2.0,530.000000,1.0,27.0,2.0,88.0,20.0,1.0,...,0.0,1.028,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
6153,1.0,2.0,3.0,100.000000,2.0,28.0,2.0,88.0,30.0,1.0,...,0.0,1.019,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49838,4.0,2.0,2.0,666.666667,1.0,20.0,2.0,88.0,20.0,1.0,...,0.0,1.032,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
49863,2.0,2.0,2.0,76.583333,2.0,60.0,1.0,1.0,20.0,2.0,...,0.0,1.028,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
49924,1.0,2.0,1.0,46.666667,2.0,80.0,1.0,3.0,10.0,2.0,...,0.0,1.010,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
49948,4.0,3.0,2.0,380.000000,1.0,46.0,1.0,1.0,20.0,1.0,...,0.0,1.018,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
49958,3.0,2.0,2.0,583.333333,1.0,55.0,1.0,1.0,10.0,1.0,...,0.0,1.020,0.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0

In [99]:
# X = df2.drop('depressed', axis = 1)

In [100]:
#TODO 오버샘플링 or 언더

from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt
import pandas as pd

# X, y = make_classification(n_classes=2, class_sep=2,
#                            weights=[0.1, 0.9], n_informative=3, n_redundant=1, 
#                            flip_y=0, n_features=20, n_clusters_per_class=1, 
#                            n_samples=1000, random_state=10)


######
X = df2.drop('depressed', axis = 1)
y = df2['depressed']

# 원본 데이터셋의 클래스 분포 확인
print('Original dataset shape %s' % Counter(y))

# SMOTE 적용
smote = SMOTE(random_state=42)
X_res, y_res = smote.fit_resample(X, y)

# 오버샘플링 후의 클래스 분포 확인
print('Resampled dataset shape %s' % Counter(y_res))

# TODO 데이터 시각화
temp = pd.DataFrame(X_res)
temp['y_label'] = y_res

# plt.scatter(temp[temp['label']==0], temp[temp['label']==0], label='0')
# plt.scatter(temp[temp['label']==1], temp[temp['label']==1], label='1')
# plt.title("SMOTE - Over-sampled Data")
# plt.legend()
# plt.show()

Original dataset shape Counter({0.0: 66031, 1.0: 1006})

/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/ijong-won/miniconda3/envs/torch-nightly/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

Resampled dataset shape Counter({0.0: 66031, 1.0: 66031})

/var/folders/3y/hj83hdwn2nn49jp7jks64t480000gn/T/ipykernel_27186/2805469819.py:31: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  temp['y_label'] = y_res

In [103]:
temp.drop('y_label', axis=1).to_csv('../data/HN_train_X.csv', index=False)
temp["y_label"].to_csv('../data/HN_train_y.csv', index=False)